
.input {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-evenly;
  }
  
  .input label {
    font-size: 20px;
    margin-right: 30px;
    min-width: 100px;
    text-align: left;
  }
  
  .input input {
    border-radius: 2px;
    border: 1px solid #ccc;
    font: inherit;
    padding: 12px 18px;
    font-size: 16px;
    line-height: 10px;
    width: 18rem;
    outline: none !important;
    box-shadow: -6px 6px #ffc857;
  }