
.product-detail {
    margin-top: 72px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 700px;
}

.description {
    height: 40px;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 4px;
    border-radius: 6px;
}

.image-container {
    width: 100%;
}

.image-container img {
    max-width: 100%;
}

.tag-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.tag-container .tag {
    font-size: 15px;
    margin: auto 10px;
}

.author {
    font-size: 20px;
    color: #ffc857;
}

.author a {
    opacity: 1;
    transition: opacity 600ms ease;
}

.author a:hover {
    opacity: 0.7;
}

.back-button, .edit-button, .delete-button {
    padding: 12px 40px;
    appearance: none;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    opacity: 1;
    transition: opacity 600ms ease;
}

.back-button:hover, .edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

.edit-button {
    background-color: #aecad6;
    background-image: linear-gradient(315deg, #aecad6 0%, #b8d3fe 74%);
    margin-right: 12px;
}

.delete-button {
    background-color: #d5adc8;
    background-image: linear-gradient(315deg, #d5adc8 0%, #ff8489 74%);
    margin-right: 12px;
}

.back-button {
    background-color: #4c4177;   
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
}

.modal-content {
    cursor: default;
    font-size: 21px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.modal-actions .back-button {
    margin-right: 10px;
    border-radius: 5px;
}

.modal-actions .delete-button {
    border-radius: 5px;
}


